<div class="container mt-5">
  <h1 class="display-4 mb-4">Clon de Twitter</h1>

  <div class="d-flex justify-content-between mb-4">
    <%= form_with(url: tweets_path, method: :get, local: true, class: "d-flex") do |form| %>
      <%= form.text_field :search, class: "form-control me-2", placeholder: "Buscar" %>
      <%= form.submit "Buscar", class: "btn btn-primary" %>
    <% end %>

    <%= link_to "Nuevo Tweet", new_tweet_path, class: "btn btn-success" %>
  </div>

  <div class="list-group">
    <% @tweets.each do |tweet| %>
      <div class="list-group-item d-flex justify-content-between align-items-center">
        <figure class="image is-64x64">
          <!-- ajusta tamaño de imagen -->
          <%= image_tag("default_avatar.png", alt: "User avatar", class: "is-rounded", width: "64", height: "64") %>
        </figure>
        
        <div class="flex-grow-1 ms-3">
          <strong><%= tweet.username %>:</strong> <%= tweet.description %>
        </div>
        
        <div class="button-group">
          <%= link_to "Editar", edit_tweet_path(tweet), class: "btn btn-warning btn-sm btn-custom-size" %>
          <%= link_to "Eliminar", tweet_path(tweet), method: :delete, data: { confirm: "¿Estás seguro?" }, class: "btn btn-danger btn-sm btn-custom-size" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
