<div class="container">
  <% if @tweet %>
    <h2>Tweet de <%= @tweet.username %></h2>
    <p><%= @tweet.description %></p>

    <%= link_to 'Editar', edit_tweet_path(@tweet), class: "btn btn-warning" %>
    <%= link_to 'Eliminar', @tweet, method: :delete, data: { confirm: '¿Estás seguro?' }, class: "btn btn-danger" %>
    <%= link_to 'Volver a los Tweets', tweets_path, class: "btn btn-secondary" %>
  <% else %>
    <p>Tweet no encontrado.</p>
    <%= link_to 'Volver a los Tweets', tweets_path, class: "btn btn-secondary" %>
  <% end %>
</div>
